*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto";
  background-color: #f9f4f4;
}

body {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

div {
  margin-top: 20px;
}

.choices-div {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.choices {
  width: 200px;
  height: 200px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  transition: all 0.3s;
}

.choices:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: translateY(-10px);
}

.choices:active {
  transform: translateY(5px);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition-delay: -10s;
}

.computer-image {
  height: 200px;
  width: 200px;
  margin: 0;
}

.computer-image {
  transform: scaleX(-1);
}

.reset-button {
  border: 2px solid #d9bbec;
  padding: 20px;
  color: #f9f4f4;
  background-color: #d9bbec;

  border-radius: 20px;
  font-size: 25px;
  font-weight: bolder;
  transition: all 0.3s;
}

.reset-button:hover {
  background-color: transparent;
  color: #d9bbec;
  border: 2px solid #d9bbec;
  transform: translateY(-10px);
}

.reset-button:active {
  transform: translateY(0px);
  transition-delay: -10s;
}
