*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: aliceblue;
  background-color: rgb(46, 41, 41);
  font-family: "Roboto";
}

p {
  margin-bottom: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
