*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto";
  background-color: bisque;
}

body {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 800px;
}

div {
  margin-top: 20px;
}

.choices {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
}

.choices:hover {
  background-color: white;
}

.computer-image,
.user-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  margin: 0;
}

.computer-image {
  transform: scaleX(-1);
}
